<!DOCTYPE html>
{{ $dataTheme := "" }}
{{ if eq site.Params.style "dark-without-switcher" }}
    {{ $dataTheme = "dark" }}
{{ end }}
<html lang="{{ .Site.LanguageCode }}" data-theme="{{ $dataTheme }}">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
    {{ block "scripts" . }}{{ end }}
    {{ block "head" . }}
        {{ partial "head.html" . }}
    {{ end }}
</head>
<body>
    <a class="skip-main" href="#main">{{ i18n "skipToContent" | humanize }}</a>
    <div class="container">
        <header class="common-header"> 
            {{ block "header" . }}
                {{ partial "header.html" . }}
            {{ end }}
        </header>
        <main id="main" tabindex="-1"> 
            {{ block "main" . }}{{ end }}
        </main>
        {{ block "footer" . }}
            {{ partial "footer.html" . }}
        {{ end }}
    </div>
</body>
</html>
