<h1 class="site-title">
    <a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Title }}</a>
</h1>
{{ if .Site.Menus.main }}
    <nav>
        <form action="{{ "search" | absURL }}">
            <input id="search-query" name="query" />
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a>
            {{ end }}
        </form>
    </nav>
{{ else }}
    <nav></nav>
{{ end }}
